.form{
    width: 100%;
    box-sizing: border-box;
    padding: 16px;

    .formControl{
        width: 100%;
        margin: 8px 0;

        .label{

        }

        .input{
            // margin-top: 6px;
        } 
    }
    .submit{
        margin: 8px 0;
    }
}



